body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general {
  border: 1px solid gray;
  width: 300px;
}

.header_field {
  font-weight: bold;
  padding-left: 10px;
  background-color: #5C6BC0;
  color: white;
  border-bottom: 1px solid gray;
}

.content_field {
  padding-left: 10px;
  padding-bottom: 2px;
  display: flex;
  border-bottom: 1px solid gray;
}

.text_field {
}

.choose_field {
  padding-left: 10px;
}

.imput_checkbox {
  padding-top: 2px;
  height: 21px;
}

.footer {
  display: flex;
  padding: 1px 3px 3px 115px;
}

form {
  margin-right: 2px;
}

button {
  width: 90px;
}

select {
  width: 100px;
  height: 22px;
}

.name_field input {
  width: 205px;
}

