label {
  margin-right:0.5em;
  width:5em;
  float:left;
  text-align:left;
  display:block;
}
input[type="text"] {
  width: 800px;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100px;
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}
