body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Div-часть */
.main_div {
  border: 1px solid black;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background: #E8EAF6;
  border-radius: 5px;
}

.buttons_div {
  padding-bottom: 10px;
  padding-right: 9px;
  text-align: right;
  }

/* Настройка кнопок*/
.for_buttons {
  padding-top: 5px;
  text-align: right;
  width: 925px;
  border-top: 0px;
}

.input-area {
  width: 600px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.label {
  width: 90px;
  word-wrap: break-word;
}

.input-text {
  width: 600px;
  height: 24px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  margin-bottom: 5px;
}
