body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general {
  border: 1px solid gray;
  width: 710px;
}

.header {
  font-weight: bold;
  padding-left: 10px;
  background-color: #5C6BC0;
  color: white;
  border-bottom: 1px solid gray;
}

.label {
  width: 90px;
  word-wrap: break-word;
  vertical-align: middle;
}

.control_panel {
  border-bottom: 1px solid gray;
  padding-left: 10px;
  padding-bottom: 3px;
}

.content_field {
  border-bottom:1px solid gray;
  background-color: white;
  padding-left: 5px;
}

.input-text {
  width: 600px;
  height: 24px;
  border: 1px solid gray;
  background: white;
  margin-bottom: 5px;
  padding-left: 2px;
  margin-right: 5px;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.input-area {
  width: 595px;
  height: 100px;
  border: 1px solid gray;
  background: white;
  margin-bottom: 5px;
  padding-left: 2px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.footer {
  margin-top: 2px;
  padding-bottom: 5px;
  text-align: right;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.footer button {
  width: 90px;
}

form {
  margin-right: 3px;
}
