<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stakeholders</title>
  <link href="Chooser_of_stackholders.css" rel="stylesheet">
</head>
<body>
<button><</button>
<button>></button>
<br>
<br>
<table cellpadding="1">
  <tr>
    <th></th>
    <th class="wrow-2">Author of requirements</th>
    <th></th>
    <th class="wrow-2">All stakeholders</th>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Anrey Bolkonsky</td>
    <td><input type="checkbox"></td>
    <td>Anrey Bolkonsky</td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Nikolay Bolkonsky</td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Anatoly Kuragin</td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td>Natasha Rostova</td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td></td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td></td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td></td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td></td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td></td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
  <tr>
    <td><input type="checkbox"></td>
    <td></td>
    <td><input type="checkbox"></td>
    <td></td>
  </tr>
</table>
<br>
<button>Clear All</button>
<button>Save</button>
</body>
</html>
