.general {
  border: 1px inset gray;
  width: 600px;
}

.header {
  border-bottom: 1px solid gray;
  font-weight: bold;
  padding-left: 10px;
  background-color: #5C6BC0;
  color: white;
}

.control_panel {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid gray;
  text-align: center;
}

.table {
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid gray;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

tr {
  border: 1px solid gray;
  width: 15px;
  height: 30px;
}

tr:nth-child(2n) {
  background: #E8EAF6;
}

tbody tr:hover {
  background-color: beige;
}

th {
  border: 1px solid gray;
  background: #5C6BC0;
  color: white;
}

td
{
  border: 1px solid gray;
}

td:nth-child(1),
td:nth-child(3) {
  width: 15px;
  text-align: center;
}

td:nth-child(2) {
  width: 260px;
  padding-left: 5px;
}

td:nth-child(4) {
  padding-left: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 5px 10px 5px 10px;
}
