<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stakeholders</title>
  <link href="Chooser_of_stakeholders.css" rel="stylesheet">
</head>
<body>
<div class="general">
  <div class="header">
    <label>Chooser of Stakeholders</label>
  </div>
  <div class="control_panel">
  <button><</button>
  <button>></button>
  </div>
  <div class="table">
  <table>
    <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th>Author of requirements</th>
      <th><input type="checkbox"></th>
      <th>All stakeholders</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td>Anrey Bolkonsky</td>
      <td><input type="checkbox"></td>
      <td>Anrey Bolkonsky</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Nikolay Bolkonsky</td>
      <td><input type="checkbox"></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Anatoly Kuragin</td>
      <td><input type="checkbox"></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Natasha Rostova</td>
      <td><input type="checkbox"></td>
      <td></td>
    </tr>

    </tbody>
  </table>
  </div>

  <div class="footer">
    <div>
      <button>Clear all</button>
    </div>
    <div>
      <button>Save</button>
      <button>Cancel</button>
    </div>
  </div>
</div>
</body>
</html>
