body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general {
  border: 1px solid gray;
  width: 1046px;
}

.win-header {
  font-weight: bold;
  padding-left: 10px;
  background-color: #5C6BC0;
  color: white;
  border-bottom: 1px solid gray;
}

.header_and_insets {
  background: #E8EAF6;
}

.general_inset {
  display: flex;
  justify-content: flex-start;
}

.inset {
  text-align: center;
  background: #C5CAE9;
  width: 200px;
}

.last_inset {
  border-bottom: 1px solid gray;
  width: 445px;
}

.inset:first-child {
  color: gray;
  font-weight: bold;
  background-color: white;
  border-right: 1px solid gray;
}

.inset:nth-child(2),
.inset:nth-child(3) {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.middle_div {
  border-bottom: 1px solid gray;
  height: 5px;
}

.main_flexbox {
  display: flex;
  justify-content: space-between;
}

.text_edition_field {
  height: 128px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding-left: 5px;
  text-align: center;
}

.requirements_flexbox {
  display: flex;
  justify-content: space-between;
}

.requirements_field {
  height: 600px;
  width: 1030px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding-left: 5px;
  text-align: center;
}

.middle_flexbox {
  border-bottom: 1px solid gray;
  width: 10px;
  text-align: center;
  padding-top: 30%;
  background: #F5F5F5;
}

.middle_flexbox:hover {
  background-color: beige;
}

.attr_flexbox {
  border-bottom: 1px solid gray;
  height: 701px;
  width: 300px;
  justify-content: space-between;
  text-align: center;
}

.attr_field {
  border-bottom: 1px solid gray;
  width: 330px;
  position:relative;
  padding-bottom:50px;
}

.attr_header {
  padding-left: 5px;
  background-color: #5C6BC0;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.default_attr_flexbox {
  padding-left: 5px;
  border-bottom: 1px solid gray;
  padding-right: 5px;
}

.custom_attr_field {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

.custom_attr_field label {
  margin-right: 10px;
}

.custom_attr_flexbox {
  display: flex;
  justify-content: space-between;
}

.add_new_button {
  border-top: 1px solid gray;
  position: absolute;
  bottom: 0;
  width: 330px;
}

.add_NCA_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clear: both;
  padding: 5px 5px 2px 5px;
}

.add_NT_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clear: both;
  padding: 0 5px 5px 5px;
}

.bottom_field {
  padding: 2px 5px 5px 0;
  text-align: right;
}

.inset a {
  color: whitesmoke;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #205081;
}

a:hover {
  color: #98a9ba;
}

input [type="text"] {
  height: 21px;
}

select {
  height: 21px;
  width: 160px;
}

.bottom_field button {
  width: 90px;
}
