<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TPW project</title>
  <link href="Requirements_history.css" rel="stylesheet">
</head>
<body>
<div class="general">
  <div class="header_and_insets">
    <div class="win-header">
      <label>TPW project</label>
    </div>
    <div class="general_inset">
      <div class="inset">
        <a href="Requirements_general.html">General</a>
      </div>
      <div class="inset">
        <a href="Requirements_links.html">Links</a>
      </div>
      <div class="inset">
        <label>History</label>
      </div>
      <div class="last_inset">
      </div>
    </div>
  </div>

  <div class="middle_div">
  </div>

  <div class="buttons_panel">
    <div>
      <form action="Compare_window.html">
        <div>
          <button type="submit">Compare</button>
        </div>
      </form>
    </div>

  </div>

  <div class="content-field">
    <div class="table field">
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Transaction ID</th>
            <th>Content</th>
            <th></th>
          </tr>
        </thead>
          <tr>
            <td>Roman Pavlov</td>
            <td>2017-02-24 22:43</td>
            <td>4</td>
            <td>Value of "News_field" was changed to: "Today we trying to comp...</td>
            <td>
              <div>
                <form action="Show_button_window.html">
                  <div>
                    <button type="submit">Show</button>
                  </div>
                </form>
              </div></td>
          </tr>
        <tr>
          <td>Artur Novogradov</td>
          <td>2017-02-09 10:07</td>
          <td>3</td>
          <td>Value of "Main_there" was chenged to "New TPW!"</td>
          <td>
            <div>
              <form action="Show_button_window.html">
                <div>
                  <button type="submit">Show</button>
                </div>
              </form>
            </div>
          </td>
        </tr>
        <tr>
          <td>Roman Pavlov</td>
          <td>2017-02-01 12:44</td>
          <td>2</td>
          <td>Value of "Deadline" was chenged to "2017-03-11 00:00". Value o...</td>
          <td>
            <div>
              <form action="Show_button_window.html">
                <div>
                  <button type="submit">Show</button>
                </div>
              </form>
            </div>
          </td>
        </tr>
        <tr>
          <td>Roman Pavlov</td>
          <td>2017-01-16 17:33</td>
          <td>1</td>
          <td>Documetn created</td>
          <td>
            <div>
              <form action="Show_button_window.html">
                <div>
                  <button type="submit">Show</button>
                </div>
              </form>
            </div>
          </td>
        </tr>
        <tbody>

        </tbody>
      </table>
    </div>
  </div> <!-- content-field end -->
  <div class="button_field">
    <button>Save</button>
    <button>Cancel</button>
    <button>Save & quit</button>
  </div>
</div>
</body>
</html>
