body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*styles for imitation of window */
.window {
  border: 1px solid black;
}

.win-header {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.win-content {
  padding: 10px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/*form*/
.multi-col-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  clear: both;
}

.row {
  display: flex;
  flex-direction: row;
}

.label {
  min-width: 170px; /*Should be changed in specific css file*/
}

/**-----*/


table {
  border: 1px solid black;
  border-radius: 5px;
}

th {
  border-bottom: 1px solid black;
}

td {
  word-wrap: break-word;
}

/*style for status*/
.deleted {
  color: #676D76;
}

.del-status {
  color: red;
}
